#main_news {
	background:url(images/main_news_fon.gif) repeat-x;
	width:100%;
	border:1px solid #E2E5DA;
}
#main_news div.news_text {
	padding:15px 20px 20px;
}
#main_news table.news {
	width:100%;
}
#main_news table.news td.img {
	width:84px;
}
#main_news table.news td.img img {
	margin-right:15px;
}

#main_news table.news td {
	text-align:left;
	vertical-align:top;
	padding-top:25px;
}
#main_news .news td .date {
	font-size:11px;
	font-style:italic;
	color:#A1A696;
	margin-bottom:7px;
}
#main_news .news td .title {
	font-size:15px;
	font-weight:bold;
	margin-bottom:7px;
}
#main_news .news td .title a {
	color:#1A6E95;
}
#main_news .news td .title a:hover {
	color:#0CB198;
}

#main_news .news td .short {
	font-size:12px;
	color:#443C4A;
	width:100%;
	border-bottom:1px solid #D8DAD1;
	padding-bottom:25px;
}
#main_news .news td a.news_all {
	display:block;
	background:url(images/news_all.png) no-repeat;
	width:162px;
	height:41px;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	text-shadow:#09806F 1px 1px 1px;
	text-align:left;
}
#main_news .news td a.news_all:hover {
	background:url(images/news_all_act.png) no-repeat;
}
#main_news .news td a.news_all span {
	padding:10px 0 0 20px;
	display:block;
}
div.line_main {
	margin:0 5px;
	background:url(images/main_news_line_fon.png) repeat-x;
	width:98%;
	height:3px;
	margin-left:5px;
	margin-top:1px;
	margin-bottom:10px;
}