div.catalog-section-list h3
{
	color: #776E6A;
	font-weight: bold;
	font-size: 14px !important;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	cursor:pointer;
	padding: 0 0 0 15px;
	background-repeat: no-repeat; 
	background-image: url('/bitrix/templates/.default/components/bitrix/catalog.section.list/services/images/signplus.gif');
	background-position: 0 2px;
	margin-bottom: 5px;
}

div.catalog-section-list ul
{
	margin: 5px 0 5px 0;
}
div.catalog-section-list ul li
{
	list-style: none noneinside !important;
	margin-left:10px;
	padding: 0 0 0 15px;
}

.single li
{
	list-style-position: inside;
}