.jcarousel-skin-tango .jcarousel-container {
    background: none;
    border: 0px;
	_width: 100%;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 20px 40px 20px 40px;
	_padding: 20px 0px 20px 15px;
}

.promo .jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 0;
	position:relative;
	z-index:10;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 130px;
    height: 334px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height:334px;
    _width: 98%;
	_overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  130px;
    height: 334px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 75px;
    
}
.promo .jcarousel-skin-tango .jcarousel-item {
    width: 490px;
    
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 50%;
	margin-top: -26px;
    right: 5px;
	_right: 10px;
    width: 24px;
    height: 52px;
    cursor: pointer;
    background: url(../images/carousel-arrow.gif) no-repeat -32px 0px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -32px -52px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -32px -104px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 50%;
	margin-top: -26px;
    left: 5px;
	_left: 0px;
    width: 24px;
    height: 52px;
    cursor: pointer;
    background: url(../images/carousel-arrow.gif) no-repeat 0px 0px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: 0px -52px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: 0px -104px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

/* ----------------- */
/**
 * Additional styles for the controls.
 */
 
.jcarousel-control {

    position:relative;
    text-align: center;
	zoom:1;
}

.jcarousel-control a {
    background:url(../images/promo-navi.gif) no-repeat left top;
	cursor:pointer;
	float:left;
	font-size:0;
	height:10px;
	margin:0 2px;
	overflow:hidden;
	text-decoration:none;
	width:9px;
	
}

.jcarousel-control a:hover{
	background-position:left -11px;
	_background-position:left top;}
	
.jcarousel-control a.current{
	background:url(../images/promo-navi.gif) no-repeat left -11px;
	cursor:default;}

.jcarousel-control a:focus,
.jcarousel-control a:active {
    outline: none;
}

.jcarousel-scroll {
    text-align: center;
	z-index:20;
}

.jcarousel-scroll form {
    margin: 0;
    padding: 0;
}

.jcarousel-scroll select {
    font-size: 75%;
}

#mycarousel-next,
#mycarousel-prev {
    cursor: pointer;
	display:block;
	height:50px;
	position:absolute;
	top:125px;
    text-decoration: none;
    font-size: 11px;
	width:24px;
	z-index:20;
}
.jcarousel-scroll a span{
	display:none;}
#mycarousel-next{
	background: url(slide_right.png) right 0 no-repeat;
	right:-1px;}
#mycarousel-prev{
	background: url(slide_left.png) left 0 no-repeat;
	left:-1px;
}



