ul.catal {
	padding:0;
	margin:15px 0 20px 15px;
	list-style:none;
	font-size:12px;
	line-height:14px;
}
ul.catal li {
	background:url(images/marker_cat.gif) 0 7px no-repeat;
	padding-left:15px;
	margin-bottom:7px;
	text-shadow:#FFF 1px 1px 1px;
}
ul.catal li.active a {
	color:#364C53;
	text-decoration:none;
	font-weight:bold;
	
}
ul.catal li a:hover {
	color:#0CB198;
	text-decoration:underline;
}