body {
    margin: 0;
    padding: 0;

    font-family: "RobotoLight", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;

    background-color: #f5f5f5;
}

a {
    text-decoration: none;

    cursor: pointer;
}
.link:hover,
.link:focus {
    color: #ff7300;
}
img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ====== header ====== */

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.header__logo {
    background-color: #fff;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.logo__link {
    cursor: pointer;
}

.nav__nav-main,
.nav-sub__list,
.nav__info,
.nav-polyclinic,
.advantage__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.header__user {
    display: block;

    background-color: #f2f2f2;

    -webkit-box-ordinal-group: 1;

    -ms-flex-order: 0;

    order: 0;
}

.user__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.container {
    max-width: 1324px;
    width: 100%;
    margin: 0 auto;
}

.user__item {
    padding: 8px 14px;
    padding-left: 46px;
    margin-right: 100px;

    cursor: pointer;
}


.user__link {
    position: relative;

    color: #000;
}

.user__link::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 18px;
    left: -45px;

    background-image: url(images/icon-sprite.png);
    background-repeat: no-repeat;
}

.icon-page::after {
    background-position: -83px 0;
}

.icon-glasses::after {
    background-position: -148px 0;
}

.icon-search::after {
    background-position: -187px 0;
}

.logo--flex.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 25px;
    padding-bottom: 29px;
    padding-left: 38px;
    padding-right: 20px;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
}
.logo-image {
    margin-right: 16px;
}


.header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    font: inherit;
    line-height: 19px;
    color: #000;
}

.header__title span:first-child {
    margin-bottom: 5px;
}

.header__title--font-style {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}

.header__navigation {
    position: relative;
    width: 100%;
    background-color: #16b598;

    -webkit-box-ordinal-group: 2;

    -ms-flex-order: 1;

    order: 1;
}

.navigation--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nav__go-home {
    width: 32px;
    height: 18px;
    margin-right: 32px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-image: url(images/icon-sprite.png);
    background-repeat: no-repeat;
    background-position: -64px -10px;

    cursor: pointer;
}

.nav__go-home:hover,
.nav__go-home:focus {
    background-color: #ff7300;
}

.nav__nav-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nav-main__item {
    margin-right: 21px;
}

.nav-main__link {
    display: block;
    padding: 14px 21px;
    padding-bottom: 12px;
}

.nav-main__nav-sub {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 31px;

    background-color: #16b598;
    border-top: 4px solid #0d6958;

    z-index: 4;
}

.nav-sub__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.nav-main__link:hover,
.nav-main__link:focus,
.nav-sub__link:hover,
.nav-sub__link:focus,
.info__link:hover,
.info__link:focus,
.nav-polyclinic__link:hover,
.nav-polyclinic__link:focus {
    background-color: #ff7300;
}

.nav-sub__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 38px
}



.nav-sub__list--border {
    margin:0;
    padding-left: 72px;
    padding-right: 42px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.nav-sub__item {
    margin-bottom: 18px;

    border: 0;
}

.nav-sub__link {
    display: block;
    padding: 8px 17px;

    border-radius: 6px;
}

.nav-main__item:hover .nav-main__nav-sub,
.nav-main__link:focus .nav-main__nav-sub {
    display: block;
}

.nav__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
}

.info__link {
    display: block;
    position: relative;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 63px;
    padding-right: 36px;
}

.info__item:hover .info__link:before {
    display:none;
}
.info__item:hover + .info__item .info__link:before {
    display: none;
}

.info__link::before{
    position: absolute;
    content: " ";
    width: 1px;
    height: 26px;
    left: 0;
    top: 10px;

    background-color: #fff;
}

.info__link::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 27px;
    left: 30px;
    top: 10px;

    background-image: url(images/icon-sprite.png);
    background-repeat: no-repeat;
}

.icon-fonendoskop::after {
    background-position: -95px -27px;
}

.icon-mobile::after {
    background-position: -131px -26px;
}

.link--color-white {
    color: #fff;
}

.header__navigation,
.footer__navigation {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

.header__nav-polyclinic {
    background-color: #0d6958;

    -webkit-box-ordinal-group: 2;

    -ms-flex-order: 1;

    order: 1;
}

.nav-polyclinic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.nav-polyclinic__link {
    display: block;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.header__mobile-call {
    display: none;
}


.burger-btn {
    display: none;
    position: absolute;
    content: "";
    right: 20px;
    top: 13px;
    width: 27px;
    height: 22px;
}

.burger-btn__top,
.burger-btn__middle,
.burger-btn__bottom {
    position: relative;
    width: 100%;
    height: 4px;

    background-color: #fff;
    border-radius: 20%;
    -webkit-transition: all 0.5s linear 0.2s;
    -o-transition: all 0.5s linear 0.2s;
    transition: all 0.5s linear 0.2s;
}

.burger-btn__top {
    top: 1px;
}

.burger-btn__middle {
    top: 4px;
}

.burger-btn__bottom {
    top: 8px;
}

.burger-btn__top.active {
    top: 9px;
    left: 1px;
    width: 22px;
    height: 5px;
    border-radius: 20px 10px;
    -webkit-transform: skewY(45deg);
    -ms-transform: skewY(45deg);
    transform: skewY(45deg);
}

.burger-btn__middle.active {
    opacity: 0;
}

.burger-btn__bottom.active {
    top: 0;
    left: 1px;
    width: 22px;
    height: 5px;
    border-radius: 10px 20px;
    -webkit-transform: skewY(-45deg);
    -ms-transform: skewY(-45deg);
    transform: skewY(-45deg);
}
.mobile-nav-block{
    display: none;
    position: fixed;
    top: 0;
    left:0;
    width: 300px;
    min-height: 100vh;
    max-height: 100vh;

    background-color: #0d6958;

    -webkit-transition: left 0.5s linear;

    -o-transition: left 0.5s linear;

    transition: left 0.5s linear;

    overflow-y: scroll;
    z-index: 50;
}

.mobile-nav {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    max-height: 100%;
}



.mobile-nav-block.active {
    left: 0;
}

.contacts__mobile {
    display: none;
    position: relative;
    text-align: center;
    padding: 15px 10px;

    cursor: pointer;
}

.contacts__mobile.active::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.contacts__mobile::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 15px;
    right: 10px;
    top: 18px;

    background-image: url(images/mobile-arrow.png);
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    -o-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

/* ====== end header ====== */

.container-video {
    position: relative;
    margin-bottom: 30px;

    overflow: hidden;
}



.video--position {
    position: relative;
    width: 100%;
    max-height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.video-bg {
    position: relative;
    top: -250px;
    width: 100%;
    height: 1%;
}

.video--position::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.25);

    z-index: 1;
}

.advantage {
    position: relative;
    margin-top: -235px;
    margin-bottom: 25px;

    z-index: 3;
}

.advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.advantage__item {
    width: 245px;


    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.advantage__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px 36px;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.advantage__item:hover,
.advantage__item:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.icon {
    width: 54px;
    height: 37px;
    margin: 0 auto;
    margin-bottom: 11px;

    background-image: url(images/icon-sprite.png);
    background-repeat: no-repeat;
}

.icon-nurse {
    background-position: 12px -73px;
}

.icon-heart {
    background-position: 9px -124px;
}

.icon-checked {
    background-position: 14px -171px;
}

.icon-puls {
    background-position: 1px -221px;
}

.icon-pharmacy {
    background-position:  -84px -122px;
}

.advantage__text {
    margin: 0;

    color: #fff;
}

.contacts {
    position: relative;
    margin-bottom: 30px;

    background-color: rgba(0, 0, 0, 0.45);

    z-index: 3;
}

.contacts--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;

    font-weight: 300;
}

.contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 10px;
    padding-top: 26px;
    padding-bottom: 20px;
    margin-right: 55px;
}

.contacts__item:nth-child(5n) {
    margin-right: 0;
}

.contacts__title {
    position: relative;
    margin: 0;
    margin-bottom: 5px;
}

.contacts__title::after {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    left: -34px;
    top: 0;

    background-image: url(images/icon-sprite.png);
    background-repeat: no-repeat;
    background-position: -132px -73px;
}

.contacts__tel {
    font-weight: 500;
    color: #fff;
}

.contacts__tel:hover,
.contacts__tel:focus {
    color: #ff7300;
}

.button {
    display: inline-block;

    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    color: #fff;

    border: 2px solid #fff;
    border-radius: 6px;
}

.button:hover,
.button:focus {
    color: #ff7300;

    border-color: #ff7300;
}

.contacts__button {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 16px;
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.slider {
    margin-bottom: 50px;
}

.slider-main {
    width: 100%;
    max-height: 406px;
}

.slider__item {
    position: relative;
    width: 1324px;
}

.slider__info-block {
    position: absolute;
    width: 321px;
    top: 72px;
    left: 236px;
    margin: 0;
    padding-left: 29px;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 30px;
    min-height: 250px;

    background-color: rgba(0, 0, 0, 0.45);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}

.info-block__text {
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;




}

.block--flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.reviews .title--style,
.title--style{
    margin: 0;
    padding: 0;
    padding-top: 6px;

    font-size: 28px;
    line-height: 28px;
    color: #16b598;
}

.ads {
    margin-bottom: 50px;
}

.button--green {
    padding: 10px 22px;
    padding-right: 20px;

    color: #16b598;

    border-color: #16b598;
}

.ads__column-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ads__block {
    width: 650px;
    padding-left: 42px;
    padding-top: 34px;
    padding-right: 33px;
    padding-bottom: 18px;

    line-height: 21px;

    background-image: url(images/bg-ads.png);

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
}

.ads__text {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.text--color-white{
    color: #fff;
}

.text--color-black{
    color: #000;
}

.ads__text--size {
    font-size: 26px;
    line-height: 31px;
}



.news {
    margin-bottom: 60px;
}

.news__news-slider {
    margin-bottom: 45px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}

.news-slider__item {
    padding: 7px;

    background-color: #fff;
}


.news-slider__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.news-slider__image-block {
    margin-right: 28px;
    min-width: 450px;
    max-height: 300px;
    overflow: hidden;

}

.news__image {
    width: 100%;
    height: auto;
    max-width: none;

}

.news-slider__text {
    padding: 34px 12px;
    padding-bottom: 20px;



    font-weight: 300;
    line-height: 21px;
    color: #000;
}

.news-slider--mobile-none {
    max-height: 126px;
    overflow-y: hidden;
}

.news-slider__text p {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.text--color-light-green{
    color: #16b598;
}

.text--size-big{
    font-size: 26px;
    line-height: 31px;
}

.news__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.news__item {
    width: 312px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 4px;
    /*padding-bottom: 10px;*/
    margin-right: 25px;

    font-weight: 300;

    background-color: #fff;
    border: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.news__item:nth-child(4n) {
    margin-right: 0;
}

.news__block-image {
    height: 225px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
}

.news__image {
    height: 100%;
    width:auto;
}

.news__text {
    margin: 0;
    padding: 0 10px;
    margin-bottom: 14px;
    max-height: 60px;
    overflow: hidden;

    color: #000;
}

.news__date {
    padding: 0 10px;
}
.date--style{
    font-size: 12px;
    line-height: 21px;
    color: #999;
}

.about-us {
    margin-bottom: 50px;

    background-color: #0d6958;
}

.about-us__column {
    position: relative;
    padding-top: 53px;
    padding-bottom: 53px;
}

.about-us__link {
    display: none;
}

.about-us__video {
    border: 0;
}

.icon-youtube {
    position: absolute;
    content: "";
    width: 62px;
    height: 44px;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -31px;

    background-image: url(images/icon-sprite.png);
}

.about-us__text-block {
    padding-left: 57px;
    padding-right: 5px;
}

.about-us__text{
    margin: 0;
    padding: 0;
    margin-bottom: 8px;

    line-height: 21px;
}

.about-us__text:last-child {
    margin-bottom: 0;
}

.science {
    margin-bottom: 45px;
}

.science__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.science__item {
    width: 310px;
    padding: 15px;
    padding-top: 12px;
    padding-bottom: 8px;
    margin-right: 28px;

    background-color: #fff;
    border: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.science__item:nth-child(4n) {
    margin-right: 0;
}

.science__text {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    color: #000;
}

.recommendation {
    margin-bottom: 48px;
}

.recommendation__slider {
    position: relative;
    padding: 8px;

    background-color: #fff;
    border: 1px solid #e8e8e8;
}

.recommendation__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.recommendation__item{
    position: relative;
    min-height: 100px;
}

.recommendation--flex {
    display :-webkit-box;
    display :-ms-flexbox;
    display :flex;
}

.recommendation__image-block {
    margin-right: 32px;
    min-width: 458px;
    height: 300px;
    overflow: hidden;
}

.recommendation__text{
    padding-left: 7px;
    padding-top: 32px;
    padding-right: 56px;
    padding-bottom: 24px;
    max-height: 200px;
    overflow-y:hidden;

    line-height: 21px;
    font-weight: 300;
    color: #000;
}

.recommendation__text p {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.reviews {
    margin-bottom: 50px;
}

.reviews__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;

}

.reviews__item {
    width: 414px;
    padding-left: 25px;
    padding-top: 24px;
    padding-right: 25px;
    padding-bottom: 20px;
    margin-right: 40px;

    font-weight: 300;
    line-height: 21px;
    color: #000;

    background-color: #fff;
    border: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.reviews__item:nth-child(3n) {
    margin-right: 0;
}

.reviews__image {
    float: left;
}

.reviews__name {
    margin: 0;
    margin-left: 58px;
    margin-bottom: 8px;
    padding-top: 10px;
    padding-left: 23px;


    font-size: 21px;
}

.reviews__date {
    display: block;
    margin-left: 58px;
    margin-bottom: 24px;
    padding-left: 23px;
}

.reviews__text {
    margin: 0;
    margin-bottom: 20px;
    max-height: 150px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.reviews__more-info {
    color: #16b598;
}

.friends {
    padding: 14px 60px;
    margin-bottom: 60px;
}

.friends__slider {
    margin: 0;
    padding: 0;

    list-style: none;


}

.friends__item {
    text-align: center;
    padding-top: 15px;
    width: 230px;
    height: 108px;
    margin-right: 20px;

    background-color: #fff;
    border: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.friends__link {
    display: inline-block;
}

/* ===== footer ==== */

.footer {
    padding-top: 36px;
    padding-bottom: 36px;

    background-color: #0d6958;
}

.footer__navigation {
    margin-bottom: 32px;
}

.footer__advantage {
    margin-bottom: 40px;
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.copyright__us {
    width: 540px;
    margin: 0;

    font-weight: 300;
}

.copyright__us--text {
    padding-left: 46px;
}

.consult-info {
    margin: 0;

    font-weight: 300;
}

.consult-info__lnk {
    display: block;
    color: #fff;
}
/* ====== end footer ====== */
/* ====== department-card =======*/


.department__title {
    background-color: #fff;
    padding-top: 34px;
    margin-bottom: 35px;
}
.bread-crumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    list-style: none;
}

.bread-crumbs__item {
    position: relative;
    padding-right: 25px;
    margin-left: 5px;
}

.bread-crumbs__item:not(:last-of-type)::after   {
    position: absolute;
    content: "→";
    right: 0;
    top:0;
    width: 20px;
    color: #000;
}

.bread-crumbs__link {
    font-weight: 300;
    line-height: 21px;

    color: #16b598;
}

.bread-crumbs__item:last-of-type .bread-crumbs__link {
    color: #000;
}

.department__title .tittle__text {
    margin: 0;

    font-size: 28px;
    font-weight: 300;
    line-height: 28px;
    color: #4c4c4c;
}

.department__toogle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 40px;
    padding-top: 17px;
    padding-bottom: 16px;
    background-color: #fff;
    border-top: 1px solid #b3b3b3;
}

.content-page .toggle__link {
    padding-right: 42px;
    padding-left: 40px;

    font-size: 18px;
    line-height: 25px;
    color: #000;

    cursor: pointer;
}

.content-page .toggle__link.active {
    color: #ff7300;
}

.toogle__work {
    border-right: 1px solid #b3b3b3;
}

/* ===== specialists ====*/


.department__specialists {
    display: none;
    margin-bottom: 80px;

    overflow: hidden;
}

.specialists-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: -14px;

    list-style: none;
}

.specialists__item {
    padding: 23px 25px;
    padding-bottom: 20px;
    width: 320px;
    margin-left: 14px;
    margin-bottom: 19px;

    text-align: center;

    background-color: #fff;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
}
.specialists__block-image {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;

    border-radius: 50%;

    overflow: hidden;
}

.content-page .specialists__name {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 400;
    color: #16b598;
}

.content-page .specialists__post {
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 300;
    color: #000;
}
/* ===== end specialists ===== */
/* ===== work ===== */

.department__work {
    display: none;
    padding: 85px 195px;
    margin-bottom: 80px;

    color: #000;

    background-color: #fff;

    overflow: hidden;
}

.work__chief {
    margin-bottom: 44px;
}

.chief__photo {
    width: 144px;
    float: left;
    margin-right: 26px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content-page .chief__name {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    font-size: 21px;
    font-weight: 300;
    line-height: 25px;
}

.chief__description {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;

    font-weight: 300;
}

.content-page .chief__number-text {
    position: relative;
    margin:0;
    padding-left: 202px;
    margin-bottom: 8px;

    font-weight: 500;
    color: #16b598;
}

.content-page .chief__number-text::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 22px;
    left: 170px;

    background-image: url(images/icon-sprite.png);
    background-repeat: no-repeat;
    background-position: -165px -26px
}

.chief__tel-block {
    padding-left: 202px;

    font-size: 24px;
    font-weight: 300;
}

.content-page .chief__tel {
    color: #000;
}

.work__info {
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 26px;
    padding-right: 120px;
    margin-bottom: 26px;

    border: 1px solid #16b598;
    background-color: #f5f5f5;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
}

.content-page .work__info--text {
    margin: 0;

    font-size: 21px;
    line-height: 27px;
    font-weight: 300;
    color: #000;

}

.work__info--text:first-of-type {
    margin-bottom: 14px;
}

.info__agenda-link {
    color: #16b598;
}

.work__info-history {
    margin-bottom: 36px;
}

.info-history__text {
    margin: 0;
}

.info-history__text:not(:last-of-type) {
    margin-bottom: 20px;
}

.content-page .info-history__sub-title {
    margin:0;
    margin-top: 30px;
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 500;
    color: #000;

}

.slider-photo__list,
.slider-photo__list-for {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-photo__img {
    width: 100%;
    height: auto;
}

.slider-photo__text {
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 10px;
    width: 370px;

    text-align: center;
    font-weight: 300;
}

.slider-photo__item-for {
    position: relative;
    margin-left: 20px;
    padding-bottom: 8px;

    outline: none;
}


.slider-photo__list-for .slick-center:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;

    outline: 0;
    background-color: #16b598;
}


/* ==== end work ====*/

@-webkit-keyframes animatework {
    0% {
        height:0;
        padding-top: 0;
    }
    50% {
        height: 500px;
        padding-top: 85px;
    }

    90% {
        height: 1300px;
    }
    100% {
        height: auto;
    }
}

@keyframes animatework {
    0% {
        height:0;
        padding-top: 0;
    }
    50% {
        height: 500px;
        padding-top: 85px;
    }

    90% {
        height: 1300px;
    }
    100% {
        height: auto;
    }
}

@-webkit-keyframes animatespecialists {
    0% {
        height:0;

    }
    50% {
        height: 300px;

    }

    90% {
        height: 600px;
    }
    100% {
        height: auto;
    }
}

@keyframes animatespecialists {
    0% {
        height:0;

    }
    50% {
        height: 300px;

    }

    90% {
        height: 600px;
    }
    100% {
        height: auto;
    }
}

.block-show-work {
    display: block;

    -webkit-animation: animatework  1.5s;

    animation: animatework  1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.block-show-specialists {
    display: block;

    -webkit-animation: animatespecialists  1.5s;

    animation: animatespecialists  1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

/* ==== end department-card ==== */

/* ==== departments ==== */

.department__title--padding-bottom {
    padding-bottom: 40px;
}

.text--margin-null {
    margin: 0;
}

.departments-laboratiry {
    margin-bottom: 70px;
}

.departments-laboratiry__title {
    margin: 0;
    margin-bottom: 15px;

    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #4d4d4d;
}

.departments-laboratiry__list {
    margin: 0;
    padding: 0;
    margin-bottom: 42px;

    list-style: none;

    background-color: #fff;
}

.departments-laboratory__item {
    position: relative;
    margin: 0;
    padding: 30px 72px;

    border:  1px solid #e8e8e8;
    border-bottom: none;
}

.departments-laboratory__item:last-child {
    border-bottom: 1px solid #e8e8e8;
}

.departments-laboratory__item::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 13px;
    left: 22px;
    top: 50%;

    background-image: url(images/icon-sprite.png);
    background-repeat: no-repeat;
    background-position: -166px -76px;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    transform: translateY(-50%);
}

.departments-laboratory__link {
    font-size: 21px;
    line-height: 1.2;
    font-weight: 300;
    color: #000;
}

/* ===== Content-page ==== */

.content-page ul.list {
    margin: 0;
    padding: 0;
    margin-bottom: 42px;

    list-style: none;

    background-color: #fff;
}

.content-page li.list__item {
    position: relative;
    margin: 0;
    padding: 30px 72px;

    border:  1px solid #e8e8e8;
    border-bottom: none;
}

.content-page .list__item:last-child {
    border-bottom: 1px solid #e8e8e8;
}

.content-page .list__item::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 13px;
    left: 22px;
    top: 50%;

    background-image: url(images/icon-sprite.png);
    background-repeat: no-repeat;
    background-position: -166px -76px;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    transform: translateY(-50%);
}

.content-page .item__link {
    font-size: 21px;
    line-height: 1.2;
    font-weight: 300;
    color: #000;
}

.content-page .white-block {
    padding: 94px 196px;
    margin-bottom: 96px;

    background-color: #fff;
    -webkit-box-shadow: 0 0 2px #e8e8e8;
    box-shadow: 0 0 2px #e8e8e8;
}

.content-page p {
    margin-top: 0;
    margin-bottom: 6px;

    color: #4d4d4d;
    font-weight: 300;
    line-height: 22px;
}

.content-page a {
    color: #16b598;
    font-weight: 400;
    line-height: 22px;

    cursor: pointer;
}

.content-page a:hover,
.content-page a:focus {
    color: #ff7300;
}

.content-page h2 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2;
    color: #4d4d4d;
}

.content-page h3 {
    margin-top: 26px;
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    color: #4d4d4d;
}

.content-page h4 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #4d4d4d;
}

.content-page h5 {
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #4d4d4d;
}

.content-page blockquote {
    margin-left: 56px;
    margin-top: 38px;
    margin-bottom: 38px;
    padding-left: 15px;

    border-left: 2px solid #16b598;
}
.text-on-block {
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 26px;
    padding-right: 26px;
    margin-top: 26px;
    margin-bottom: 26px;

    font-size: 21px;
    line-height: 27px;
    font-weight: 400;
    color: #000;

    border: 1px solid #16b598;
    background-color: #f5f5f5;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
}

.content-page b {
    font: inherit;
    color: inherit;
    font-weight: 600;
}
.content-page .title {
    display: block;
    margin-top: 40px;
    margin-bottom: 18px;
}


.content-page ul:not([class]) {
    margin:0;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 18px;

    list-style: none;
}

.content-page li:not([class]) {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;

    color: #4d4d4d;
    font-weight: 300;
    line-height: 22px;
}

.content-page ul:not([class]) li::after {
    position: absolute;
    content: "—";
    left: -18px;
    top: 0;
}

.content-page ol {
    margin:0;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 18px;

}

.content-page hr {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 100%;

    color: #4d4d4d;
}

.downloand-file {
    position: relative;
    margin-top: 46px;
    margin-bottom: 46px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 46px;
}

.downloand-file::after {
    position:absolute;
    content: "";
    width: 32px;
    height: 37px;
    top: 0;
    left: 0;

    background-image: url(images/document.png);
    background-repeat: no-repeat;
}

.date {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 20px;
    color: #999999;
    letter-spacing: 1px;
}

.slider-photo {
    margin-top: 48px;
    margin-bottom: 70px;
}

.block-specialists-info {
    padding-right: 26px;
}

.block-specialists-info:after {
    content: "";
    display: table;
    clear: both;
}

.block-specialists-info img {
    float: left;
    margin-right: 26px;
}

.content-page .name {
    display: block;
    margin-bottom: 20px;

    font-size: 21px;
    line-height: 21px;
    font-weight: 300;
    color: #000;
}

.content-page i {
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    color: #000;
}


.content-page cite {
    margin-top: 0;
    margin-bottom: 6px;

    color: #4d4d4d;
    font-weight: 300;
    line-height: 22px;
}

/* 404*/

.page-error .page-error__number{
    font-size: 160px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding-top: 60px;
    text-align: center;
    color: #16b598;

}

.page-error .page-error__text {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 60px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #16b598;
}

/* News list styles and news-detail*/

.white-block.white-block--min-padding {
    padding: 70px 70px;

}

.news__wrapper {
    width: 85%;
    margin-left: 0;
    margin-right: auto;
}

.news-all__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

.news-all__item:not(:last-child) {
    margin-bottom: 20px;
}

.news-all__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.news-all__image,
.news-detail__image{
    width: 220px;
    height: 150px;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.news-all__image {
    margin-right: 30px;
}
.news-detail__image-block {
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}

.news-detail__image {
    max-width: 100%;
    width: auto;
    height: auto;
}

.news-all__wrapper-text {
    width: calc(100% - 250px);
    padding: 10px;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.news-all__link .news-all__title,
.content-page .news-detail__title{
    margin: 0;
    margin-bottom: 26px;
    color: #16b598;
}

.content-page .news-detail__title {
    margin-bottom: 15px;
}

.news-all__text {
    height: 42px;
    overflow: hidden;
    margin-bottom: 20px
}
.news-all__date,
.news-detail__date{
    color: #999;
}

.content-page .news-detail__date {
    display: block;
    margin-bottom: 25px;
}
.news-all__link:hover .news-all__title  {
    color: #ff7300;
}


.content-page .news-detail__text:last-of-type{
    margin-bottom: 30px;
}

.news-detail__button-block {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* pagination */
.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pagination__items {
    position: relative;
    margin-left: 5px;
}

.pagination .pagination__link {
    padding: 10px 15px;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.pagination .pagination__link:active {
    background-color: #16b598;
    color: #fff;
}

.pagination__items:not(:last-child):not(:first-child)  .pagination__link{
    font-weight: 600;
}


.pagination__link.pagination__disabled,
.pagination__link.pagination__disabled:hover,
.pagination__link.pagination__disabled:focus,
.pagination__link.pagination__disabled:active {
    color: #999;
    cursor: no-drop;
}


.pagination__link.pagination__active {
    background-color: #16b598;
    color: #fff;
    cursor: none;
}
.pagination__link.pagination__active:hover,
.pagination__link.pagination__active:active{
    color: #fff;

}

.pagination__items:first-child .pagination__link {
    padding-left: 25px;
}
.pagination__items:last-child .pagination__link  {
    padding-right: 25px;
}


.pagination__items:first-child .pagination__link::after,
.pagination__items:last-child .pagination__link::after{
    position: absolute;
    content: '\00AB';
    left: 10px;
    top: -1px;

}

.pagination__items:last-child .pagination__link::after{
    content: '\00BB';
    left: auto;
    right: 10px;
}