#headtitle {
    font-size: 18pt;
    font-weight: bold;
}

.pagination {
    display: inline-flex;
}

.pagination {
    font-weight: bold;
}

.pagination .inactive {
    opacity: 0.5;
    font-weight: normal;
}

.filter_wrp {
    display: inline-flex;
    margin-left: 10px;
}

.table {
    table-layout: inherit;
}


.main, .right_menu {
    display: inline-block;
}

.sub_navigation {
    background: #525051;
    font-size: 12pt;
    font-weight: bold;
    line-height: 1.5;
}

.sub_navigation .line li {
    display: inline-block;
    margin: 0;
    padding: 7px;

}

.sub_navigation .line ul {
    line-height: 0.7;
}

.sub_navigation .line a {
    text-decoration: none;
    color: white;

    padding: 4px;
}

.sub_navigation .line a:hover {
    background: #ce6b42;
}

.sub_navigation .line a.selected {
    background: #ce2702;
}

.line {
    margin: 0;
}

select {
    font-size: 14pt;
    font-weight: bold;
    margin-left: 20px;
}

.preview_image img {
    max-width: 50%;
    max-height: 50%;
}

.item {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    font-weight:bold;
}

#content li > a {
    font-weight:normal;
}

#content ul.catal{
    font-size: 100%;
}

body.small #content ul.catal{
    font-size: 110%;
}

body.large #content ul.catal{
    font-size: 90%;
}

table {
    max-width: 96%;
}

.special-menu {
    position: fixed;
    top: 0;
    z-index: 1000;
}

#foot {
    margin-left: 10%;
    margin-right: 10%;
}

.glav_name , .name_blue , .fio , .name, .phone{
    font-weight: bold;
}


.phone {
    float: right;
    width: 20%;
}

body.large img {
    line-height: 1.7;
}

#mycarouseltop ul li {
    background: none; !important;
}

#mycarouseltop img {
    width: 30%;
    height: 30%;
    display: inline-block;
}

.left_personal {
    border-right: 1px black solid;
    width: 27%;
    float: left;
    margin-right: 0;
}

.main_and_menu{
    margin-left: 0;
    width: 71%;
    float: right;
    padding-left: 10px;
}

.main {
    width: 100%;
}

.forPromo , input[name=web_form_apply], input[type=reset]{
    display: none;
}

input[type=submit]{
    text-decoration:none;
    text-align:center;
    padding:11px 32px;
    border:solid 3px #000000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#000000;
    background:#ffffff;

}


br {
    /*line*/
}

.content-text p{
    margin: 0;
}

.inputtext {
    width: 100%;
}