body { min-width:1020px; color: #000; }

h1, h2, h3, h4, h5, h6 { font-family: Arial, sans-serif;}
h1 { color: #000; font-size: 1.65em; font-weight:normal; margin: 0 0 7px;}
h1#pagetitle { margin: 0 0 7px; }

table.bx-users-toolbar {width: 100%; border-collapse:collapse; border: solid 5px #e1decd; background-color: #e1decd;}
table.bx-users-toolbar td {border: solid 5px #e1decd; padding: 1px; white-space: nowrap !important; color: black;}
.form_el{
		border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
		-webkit-border-radius: 5px 0 0 5px;
		-khtml-border-radius: 5px 0 0 5px;}
table.bx-users-toolbar td.bx-users-toolbar-delimiter {
    background-color: #f7f3e7;
    padding: 0 1px 0 0;
    width: 1px;
}
/*Data table*/
table.data-table
{
	border:1px solid #fff;
	border-collapse: collapse;
}

/*Any cell*/
table.data-table td
{
	border:1px solid #efefef;
	border-left:none;
	border-right:none;
	background-color:#FFFFFF;
	padding:6px 5px;
}

/*Head cell*/
table.data-table thead td, table.data-table th, table.data-table thead th
{
	background-color:#ebebeb;
	font-weight:bold;
	font-size:12px;
	background-image:none;
	border:1px solid #fff;
	padding:8px;
	color:#072838;
	text-align:left;
}

/*Head cell selected*/
table.data-table thead td.selected, table.data-table th.selected, table.data-table thead th.selected
{
	background-color:#f6f6f5;
}

/*Body cell*/
table.data-table tbody td
{
	background-color:#FFF;
	background-image:none;
}

/*Selected cell*/
table.data-table td.selected, table.data-table tr.selected td
{
	background-color:#f6f6f6;
}

/*Foot cell*/
table.data-table tfoot td
{
	background-color:#f6f6f5;
	padding:4px;
}

/*End data table*/


.bx-birthday-layout-include .bx-user-info { border: none;}
.bx-honour-layout-include .bx-user-info { border: none; }
.bx-new-layout-include .bx-user-info{ border: none; }
.bx-user-info { border: none;} 