	.mainMenu{
		float:left;
		border-radius: 5px 0 0 5px;
		width:98%;}
		.mainMenu li {
			float:left;
			position:relative;}
			.mainMenu li li {position:relative;}
			.mainMenu li a, .mainMenu li span{
				background:url(images/topmenu.gif) repeat-x 0 -1000px;
				border-left:1px solid #d856eb;
				border-right:1px solid #860799;
				color:#fff;
				font:bold 14px/47px Arial, Helvetica, sans-serif;
				display:block;
				text-align:center;
				text-decoration:none;
				text-shadow:0 1px 1px rgba(78,109,24,0.8);
				text-transform:uppercase;
				padding: 0pt 18px;
				white-space: nowrap;}
			.mainMenu li a:hover, .mainMenu li.current a:hover{
				background-position: left -144px;
				border-left:1px solid #840396;
				border-right:1px solid #840396;
				color:#fff;
				text-decoration:none;}
			.mainMenu li.first a, .mainMenu li.first span{
				border-radius: 5px 0 0 5px;
				border-left:none !important;}
			.mainMenu li.current span, .mainMenu li.current a{
				border-left:1px solid #851395;
				border-right:1px solid #851395;}
			.mainMenu li.current span, .mainMenu li.current a{
				background-position:left -217px;}
			.mainMenu li.current a.colored, .mainMenu li.current a.colored:hover{
				color:#f0ea83;}
			.mainMenu li.current span{
				color:#f0ea83;
				cursor:default;}
			/* Podmenu */
			.mainMenu div{
				background:url(images/topmenu.gif) repeat-x left -271px #9c3ea9;
				border-bottom:1px solid #851395;
				border-left:1px solid #851395;
				border-right:1px solid #851395;
				display:none;
				_overflow:hidden;
				padding:6px 0 0 0;
				position:absolute;
				min-width:200px;
				top:100%;
				_top:47px;
				_width:240px;
				z-index:100;}
			.mainMenu li.current li.current a{
				color:#f0ea83;}
			.mainMenu li.hover  div{
				display:block;}
			.mainMenu li.hover  div li.hover div{
				display:none;}
				.mainMenu li.hover  div div{
					display:none;}
				.mainMenu  div li{
					float:none;}
					.mainMenu  div li a, .mainMenu  div li span, .mainMenu li.current  div span, .mainMenu li.current . div a{
						background:none;
						border:none !important;
						font:bold 12px Arial, Helvetica, sans-serif;
						padding:0 20px;
						text-align:left;
						text-shadow:none;
						text-transform:none;
						*zoom:1;}
					.mainMenu  div li a:hover{
						background-color:#cc6eda;}
			/* Podmenu */
			.mainMenuPodmenu{
				background:url(images/topmenu.gif) repeat-x left -271px #9c3ea9;
				border-bottom:1px solid #457215;
				border-left:1px solid #457215;
				border-right:1px solid #457215;
				display:none;
				_overflow:hidden;
				padding:6px 0 0 0;
				position:absolute;
				top:100%;
				_top:47px;
				_width:240px;
				z-index:100;}
				.mainMenu .mainMenuPodmenu li{
					float:none;}
					.mainMenu .mainMenuPodmenu li a, .mainMenu .mainMenuPodmenu li span, .mainMenu li.current .mainMenuPodmenu span, .mainMenu li.current .mainMenuPodmenu a{
						background:none;
						border:none !important;
						font:bold 12px/28px Arial, Helvetica, sans-serif;
						padding:0 20px;
						text-align:left;
						text-shadow:none;
						text-transform:none;
						*zoom:1;}
					.mainMenu .mainMenuPodmenu li a:hover{
						background-color:#cc6eda;}



div.menu-clear-left
{
	clear:left;
}