table.detail_specialist {
	width:100%;
}
table.detail_specialist .name {
	font-weight:bold;
	font-size:15px;
	margin-bottom:5px;
}
table.detail_specialist img.glav_fon {
	background-color:#DFE8E4;
	padding:5px;
}
table.detail_specialist div.glav_name {
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	color:#458B81;
	margin:15px 0 3px 0;
}
table.detail_specialist div.glav_desc {
	font-size:12px;
	font-weight:bold;
	color:#443C4A;
	text-shadow:#CDCBCF 1px 1px 1px;
	
}

table.detail_specialist td.glavvrach {
	border-bottom:1px solid #CDDADB;
	padding:3px 0 10px 0;
}

div.name_blue {
	font-size:16px;
	font-weight:bold;
	color:#4C6C77;
	margin-bottom:3px;
}

div.phone_otdel {
	color:#22465E;
	font-size:14px;
	font-weight:bold;
	margin:15px 0;
}
div.phone_otdel span {
	font-size:15px;
}


#gallery {
		padding: 10px;
		width: 490px;
}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
	border: 3px solid #DFE8E4;
}
#gallery ul a:hover img {

}
#gallery ul a:hover { color: #fff; }