/*img.img_fon_big {*/
	/*background-color:#DFE8E4;*/
	/*padding:5px;*/
	/*margin-right:20px;*/
	/*float:left;*/
/*}*/
/*div.about {*/
	/*vertical-align:middle;*/
/*}*/
/*#photo_detail {*/
	/*float:left;*/
	/*width:160px;*/
	/*margin:0 20px 5px 0;*/
/*}*/
/*#photo_detail .fon {*/
	/*background-color:#DFE8E4;*/
	/*padding:5px;*/
/*}*/
/*#photo_detail .img_center {*/
	/*width:100%;*/
	/*text-align:center;*/
/*}*/
/*#photo_detail .fio {*/
	/*font-size:14px;*/
	/*font-weight:bold;*/
	/*color:#224A55;*/
	/*margin:5px 0 5px 10px;*/
/*}*/
/*#photo_detail .short {*/
	/*font-size:12px;*/
	/*font-style:italic;*/
	/*color:#224A55;*/
	/*margin-bottom:5px;*/
	/*margin-left:10px;*/
	/*line-height:17px;*/
/*}*/
/*table.detail_specialist {*/
	/*width:100%;*/
/*}*/
/*span.name {*/
	/*display:inline-block;*/
/*}*/
/*table.detail_specialist .name, span.name {*/
	/*font-weight:bold;*/
	/*font-size:15px;*/
	/*margin-bottom:5px;*/
/*}*/
/*#text_detail {*/
	/*text-align:justify;*/
/*}*/
/*div.phone_otdel {*/
	/*color:#22465E;*/
	/*font-size:14px;*/
	/*font-weight:bold;*/
	/*margin:15px 0;*/
/*}*/
/*div.phone_otdel span {*/
	/*font-size:15px;*/
/*}*/
/*.promo {*/
	/*height:330px !important;*/
/*}*/
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height:330px !important;
}
#mycarousel-next, #mycarousel-prev {
	top:140px !important;
}


/*#gallery {*/
		/*padding: 10px;*/
		/*width: 490px;*/
/*}*/
/*#gallery ul { list-style: none; }*/
/*#gallery ul li { display: inline; }*/
/*#gallery ul img {*/
	/*border: 3px solid #DFE8E4;*/
/*}*/
/*#gallery ul a:hover img {*/

/*}*/
/*#gallery ul a:hover { color: #fff; }*/

