div.mfeedback {}
div.mf-name, div.mf-email, div.mf-phone, div.mf-adres, div.mf-captcha, div.mf-message, div.mf-file, div.mf-org, div.mf-topic {padding-bottom:0.4em;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}

.text {width: 70%}