ul.polik {
	padding:0;
	margin:0;
	list-style:none;
}
ul.polik a {
	color:#4D6D7C;
	text-decoration:none;
}
ul.polik a:hover {
	color:#0CB198;
	text-decoration:none;
}

ul.polik li.polik_125 div, ul.polik li.polik_126 div {
	width:130px;
	padding:15px 0 0 80px;
	line-height:16px;
	text-shadow: #EAFBEF 1px 1px 1px;
}
ul.polik li.polik_125 {
	background:url(images/clinik_diagnoz_fon.png) no-repeat;
	width:229px;
	height:78px;
	font-size:15px;
	font-weight:bold;
	color:#4D6D7C;
	margin-top:10px;
}
ul.polik li.polik_126 {
	background:url(images/finanse_fon.png) no-repeat;
	width:233px;
	height:78px;
	font-size:15px;
	font-weight:bold;
	color:#4D6D7C;
	margin-top:8px;
}
ul.polik li.polik_135 {
	background:url(images/metogik_fon.png) no-repeat;
	width:233px;
	height:78px;
	font-size:12px;
	font-weight:bold;
	color:#4D6D7C;
	margin-top:8px;
}
ul.polik li.polik_135 div {
	width:130px;
	padding:10px 0 0 80px;
	line-height:13px;
	text-shadow: #EAFBEF 1px 1px 1px;
}
ul.polik li.polik_128 {
	background:url(images/info_tex_fon.png) no-repeat;
	width:230px;
	height:78px;
	font-size:15px;
	font-weight:bold;
	color:#4D6D7C;
	margin-top:10px;
}
ul.polik li.polik_128 div {
	width:140px;
	padding:15px 0 0 80px;
	line-height:16px;
	text-shadow: #EAFBEF 1px 1px 1px;
}