/*table.otziv {*/
	/*width:100%;*/
/*}*/
/*table.otziv div.fio {*/
	/*color:#46697F;*/
	/*font-size:14px;*/
	/*font-weight:bold;*/
	/*margin-bottom:3px;*/
/*}*/
/*table.otziv div.desc {*/
	/*font-size:11px;*/
	/*line-height:13px;*/
	/*margin-left:10px;*/
/*}*/
/*div.line {*/
	/*border-bottom:1px solid #D9DAD2;*/
	/*width:100%;*/
	/*margin:10px 0 10px 10px;*/
/*}*/