/*поиск*/
#search-bar {
margin-top:25px;
position:relative;
margin-right:10px;
width:237px;
padding-top:11px;
}
.search {
background:url("images/bg_search_left.png") no-repeat scroll left center transparent ;
display:block;
height:28px;
margin-left:7px;

}
.search .submit {
background:url("images/bg_search_button.png") no-repeat scroll right top transparent;
display:block;
float:right;
font-size:0;
height:28px;
width:28px;
line-height:0;

}
.search input {
background:#FFF;
border:medium none;
}
.search .text {
background:none;
border:medium none;
display:block;
font-size:14px;
height:28px;
line-height:28px;
padding-left:10px;
position:relative;
margin-top:-5px;
}
.search .text {
color:#B7B7B7;
}
.search-outline {
	background:url(images/bg_search.png);
	width:250px;
	height:40px;
}

/* тема forest */
.forest .search {
	background-image: url('images/forest_bg_search_left.png');
}
/*\поиск\*/