@media all and (max-width: 1364px){
    .container {
        max-width: 1230px;
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .nav__go-home {
        margin-right: 20px;
    }

    .nav-main__item {
        margin-right: 4px;
    }

    .info__link {
        padding-right: 20px;
        padding-left: 60px;
    }

    .video-bg {
        margin-top: 70px;
    }

    .advantage {
        margin-top: -220px;
    }

    .advantage__item {
        width: 225px;

    }

    .advantage__link {
        padding: 10px 25px;
    }

    .contacts__item {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 40px;
    }

    .ads__block {
        width: 590px;
    }

    .news__item {
        width: 280px;
        margin-right: 15px;
    }

    .about-us__video {
        padding-top: 33px;
    }
    .science__item {
        width: 280px;
        margin-right: 26px;
    }

    .reviews__item {
        width: 31%;
        margin-right: 41px;
    }
    /* news-list */

    .news-all__wrapper-text {
        padding-top: 0;
    }
    .news-all__text {
        height: 45px;
    }
}
@media all and (max-width: 1230px){
    .container {
        width: 100%;
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .nav__go-home {
        margin-right: 10px;
    }

    .nav__nav-main {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 60%
    }

    .nav-main__item {
        margin-right: auto;
    }

    .nav-main__link {
        padding: 14px 14px;
    }

    .info__link {
        padding-right: 20px;
        padding-left: 40px;
    }

    .info__link::after {
        left: 8px;
    }


    .nav-main__nav-sub {
        top: 51px;
    }

    .video--position {
        max-height: 450px;
    }

    .video-bg {
        margin-top: 120px;
    }

    .advantage {
        position: relative;
        margin-top: -218px;
    }

    .advantage__item {
        width: 19%;

        -webkit-box-sizing: border-box;

        box-sizing: border-box;
    }

    .advantage__link {
        padding: 10px 10px;
    }

    .contacts__list {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-left: 10px;
    }

    .contacts__item {
        margin-right: auto;
    }

    .contacts__button {
        margin-right: 10px;
    }

    .info-block__text {
        top: 35px;
    }

    .slider-main__dots {
        top: 263px;
    }

    .ads__block {
        width: 49%;
    }

    .news__item {
        width: 24%;
        margin-right: auto;
    }

    .block--flex-row {
        padding: 0 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .about-us__column {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .science__item {
        width: 24%;
        margin-right: auto;
    }

    .reviews__item {
        margin-right: auto;
    }

    .department__title {
        padding-left: 20px;
        padding-right: 20px;
    }
    .departments-laboratiry__title {
        padding-left: 20px;
    }

    .content-page .white-block {
        padding: 80px 150px;
        padding-bottom: 40px;
        margin-bottom: 60px;
    }

    .page-error .page-error__text {
        font-size: 45px;
    }
    /*news list*/
    .news__wrapper {
        width: 100%;
    }
}
@media all and (max-width: 1083px){
    .burger-btn {
        display: block;

        z-index: 11;
    }
    .header__mobile-call {
        display: block;

    }
    .mobile-call__link {
        position: relative;
        display: block;
        width: 48px;
        height: 48px;
    }
    .mobile-call__link::after {
        position: absolute;
        content: "";
        width: 48px;
        height: 48px;
        background-image: url(../images/icon-sprite.png);
        background-repeat: no-repeat;
        background-position: -120px -16px;
    }
    .nav__go-home {
        width: 29px;
        height: 48px;
        padding: 0 6px;
        background-position: -159px -115px;
    }

    body.active{
        position: relative;
        overflow: hidden;
    }

    body.active::before {
        position: fixed;
        content: '';
        top:0;
        bottom: 0;
        left:0;
        right: 0;
        z-index: 9;

        background-color: rgba(0, 0, 0, 0.3);
    }

    .header__navigation {
        z-index: 10;
    }

    .header--fixed {
        position: fixed;
        top: 0;

        z-index: 9;
    }

    .header__nav-polyclinic {
        display: none;
    }
    .nav__go-home {
        margin-left: 20px;
    }
    .burger-btn {
        right: 20px;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .burger-btn.active {
        right: calc(100% - 340px);
    }

    .info__link::after {
        top: 11px;
    }

    .mobile-nav-block {
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        left: -100%;
    }

    .user__list,
    .nav__nav-main,
    .nav__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .user__list {
        background-color: #f2f2f2;
    }

    .user__list .user__item:nth-child(2) {
        display: none;
    }

    .nav__nav-main {
        width: 100%;
        background-color: #16b598;
    }

    .nav__info {
        font-size: 0;
        margin-left: 0;
    }


    .user__list {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .user__item {
        padding: 14px 14px;
        padding-left: 55px;
        margin-right: 0;
    }

    .icon-page::after {
        background-position: -90px 0;
    }

    .icon-search::after {
        background-position: -193px 0;
    }

    .nav__nav-main {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .nav-main__item {

        margin-right: 0;
    }

    .nav-main__link {
        position: relative;
    }

    .nav-main__link::after {
        position: absolute;
        content: "";
        width: 11px;
        height: 11px;
        top: 50%;
        right: 50px;
        margin-top: -5px;


        border-left: 1px solid #fff;
        border-top: 1px solid #fff;

        -webkit-transform: rotate(135deg);

        -ms-transform: rotate(135deg);

        transform: rotate(135deg);

        -webkit-transition: -webkit-transform 0.2s linear;

        transition: -webkit-transform 0.2s linear;

        -o-transition: transform 0.2s linear;

        transition: transform 0.2s linear;

        transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    }

    .nav-main__item.active .nav-main__link::after {
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }

    .nav-main__nav-sub {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        max-height: 0;

        padding: 0;
        margin:0;
        border-top: 0;

        background-color: #0d6958;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        -webkit-transition: max-height 0.5s linear;

        -o-transition: max-height 0.5s linear;

        transition: max-height 0.5s linear;
    }

    .nav-main__item.active .nav-main__nav-sub {
        display: block;
        max-height: 2000px;
        padding-top: 20px;
    }

    .nav-sub__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .nav-sub__list--border {
        margin: 0;
        margin-bottom: 15px;
        margin-right: 50px;
        margin-left: 38px;
        padding: 15px 0;

        border-left: 0;
        border-top: 1px solid #fff;
        border-right: 0;
        border-bottom: 1px solid #fff;
    }

    .nav-sub__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
        margin-bottom: 10px;
    }

    .nav-main__item:hover,
    .nav-main__link:focus {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }

    .nav-main__link:hover,
    .nav-main__link:focus {
        background-color: transparent;
    }

    .info__link {
        padding-left: 50px;
    }


    .info__link::after {
        left: 16px;
    }

    .info__link::before {
        display: none;
    }

    .nav-polyclinic {
        padding-bottom: 25px;
        padding-top: 15px;
        background-color: #0d6958;
    }

    .nav-polyclinic__item {
        width: 100%;
    }

    .nav-polyclinic__link {
        padding-left: 21px;
    }

    .container-video {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        background-color: #0d6958;
    }

    .video--position {
        display: none;
    }

    .slider {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin-bottom: 0;
    }

    .slider .container {
        padding: 0;
    }

    .slider__info-block {
        width:100%;
        top: auto;
        bottom: 0;
        min-height: auto;
        left: 0;
        padding: 15px 15px;
        padding-bottom: 28px;

    }

    .slider .slick-slide img {
        min-height: 400px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 40px;
    }

    .slider-main__dots {
        width: 100%;
        left: 0;
        bottom: 0;
        top: auto;
        margin: 0;
        padding: 5px;
    }

    .slider-main__dots li:not(:first-of-type) {
        margin-left: 25px;
    }

    .advantage {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .advantage__list {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .contacts {
        background-color: transparent;
    }

    .contacts__list {
        padding-left: 0;
        width: 75%;

        -webkit-box-sizing: border-box;

        box-sizing: border-box;
    }

    .contacts__item {
        margin-right: 0;
        padding-left: 85px;
        width: 40%;

        -webkit-box-sizing: border-box;

        box-sizing: border-box;
    }


    .footer__navigation {
        display: none;
    }

    .slider-photo__list-for .slick-track {
        margin-left: -295px;
    }

    .department__toogle {
        margin-top: 40px;
    }

    .department__work {
        padding: 60px 100px;
    }

    .content-page .white-block {
        padding: 60px 100px;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }

}
@media all and (max-width: 992px) {
    .logo--flex.container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header__title--font-style {
        font-size: 16px;
    }

    .nav-sub__item {
        margin-bottom: 10px;
    }

    .container-video::after {
        background-color: transparent;
        display: none;
    }

    .advantage__item {
        width: 33%;
        margin-bottom: 20px;
    }

    .contacts__list {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .contacts__item {
        padding-left: 85px;
    }

    .contacts__button {
        margin-left: 0;
    }

    .info-block__text {
        top: auto;
        bottom: 0;
        width: 100%;
        left: 0;
        min-height: auto;
    }

    .block--flex-row {
        padding: 25px 10px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .about-us__column {
        padding: 0 20px;
        padding-bottom: 20px;
        width:100%;
    }

    .about-us__video {
        margin: 0 auto;
        width: 100%;
        min-height: 450px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 50px;
    }

    .ads__block {
        padding-left: 20px;
        padding-right: 15px;
    }

    .news-slider__container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
    }

    .news-slider__image-block {
        margin-right: 0;
        width: 100%;
        height: auto;
        max-height: none;
        min-width: auto;

    }
    .news__block-image {
        height: 180px;
    }
    .news-slider__image {
        width: 100%;
        height: auto;
    }


    .news__news-slider .slick-dots {
        bottom: -20px;
    }

    .slick-dots li button {
        background-color: #999999;
    }

    .news__block .slick-prev {
        left: -45px;
    }

    .news-slider__text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 10px;
        padding-left: 20px;
        padding-bottom: 30px;

        background-color: rgba(0, 0, 0, 0.5);

        -webkit-box-sizing: border-box;

        box-sizing: border-box;
    }

    .news-slider__text p {
        margin-bottom: 0;
        color: #fff;
    }

    .news-slider--mobile-none,
    .recommendation--mobile-none {
        display: none;
    }

    .news--padding {
        padding: 10px 50px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .news__item {
        margin: 0 15px;
        max-width: 300px;
    }

    .news__block.slick-slider .slick-track {
        margin-left: -33%;
    }

    .text--color-light-green {
        color: #fff;
    }

    .slick-prev {
        left: -40px;
    }

    .slick-next {
        right: -40px;
    }

    .block-mobile-slider {
        padding: 0 50px;
    }
    .science__item {
        margin-right: 15px;
    }

    .science__item:nth-child(4n){
        margin-right: 15px;
    }

    .recommendation--flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .recommendation__image-block {
        margin-right: 0;
        width: 100%;
        height: 100%;
        min-width: 100%;
        max-height: none;
    }
    .recommendation__image {
        width: 100%;
    }

    .recommendation__text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0, 0, 0, 0.5);
    }

    .recommendation__text p {
        text-align: center;
        color: #fff;
    }

    .recommendation .slick-dots {
        bottom: -32px;
    }

    .footer__advantage {
        display: none;
    }

    .copyright {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .copyright__us {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .copyright__us--text {
        display: block;
    }

    .consult-info {
        margin: 0;
        text-align: center;
    }

    .consult-info__lnk {
        display: inline-block;
    }

    .department__work {
        padding: 40px 70px;
    }

    .specialists-list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .chief__description {
        margin-bottom: 50px;
    }

    .content-page .white-block {
        padding: 40px 50px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .downloand-file {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .news-all__text {
        display: none;
    }
}
@media all and (max-width: 767px){
    .header__title span:first-child {
        width: 300px;
    }

    .header__title--font-style {
        max-width: 400px;
    }

    .slider {
        margin-bottom: 20px;
    }

    .advantage__link {
        padding: 10px 2px;
    }

    .container-video {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contacts {
        margin-bottom: 40px;
    }

    .contacts__mobile {
        display: block;
        width: 150px;
        margin: 0 auto;
        border: 1px solid #fff;
    }

    .contacts--flex {
        max-height: 0;

        -webkit-transition: max-height 0.4s linear;

        -o-transition: max-height 0.4s linear;

        transition: max-height 0.4s linear;

        overflow: hidden;
    }
    .contacts__list {
        width: 100%;
    }

    .contacts--flex.active {
        max-height: 600px;
    }

    .contacts__item{
        width: 50%;
        margin-right: 0;
        padding-right: 20px;
        padding-left: 70px;
    }

    .contacts__button {
        margin: 0 auto;
        margin-bottom: auto;
    }

    .about-us__video {
        min-height: 400px;
        padding: 0;
    }

    .news__block.slick-slider .slick-track {
        margin-left: -50%;
    }

    .ads__mobile-slider {
        padding: 0 50px;
    }

    .department__work {
        padding: 30px 20px;
    }
    .slider-photo__list-for .slick-track {
        margin-left: -50%;
    }

    .slick-dots {
        bottom: -30px;
    }

    .nav__nav-main {
        width: 100%;
    }

    .info__item.info__mobile-header .info__link::after {
        left: 14px;
    }

    .nav__go-home {
        width: 29px;
        height: 24px;
        padding: 11px 10px;
        padding-top: 13px;
        margin-left: 10px;
        background-position: -156px -115px;
    }

    .advantage__item {
        width: 48%;
    }

    .contacts__item {
        width: 100%;
        margin: 0 auto;
        padding-left: 35%;
    }



    .info-block__text {
        padding: 10px 10px;
        padding-bottom: 25px;

        font-size: 20px;
    }

    .reviews .title--style,
    .title--style {
        padding-left: 10px;

        font-size: 20px;
        line-height: 24px;
    }

    .contacts {
        display: none;
    }
    .news-detail__button-block .button--green{
        position: relative;
        bottom:auto;
        margin-left:auto;
        text-align: center;
    }
    .news-detail__button-block{
        text-align: center;
    }
    .button--green {
        position: absolute;
        bottom: 0;
        padding: 8px 15px;
        padding-right: 16px;
        margin-left: 10px;

        font-size: 12px;
    }

    .ads {
        position: relative;
        padding-bottom: 70px;
    }

    .ads__mobile-slider {
        padding: 0 0;
    }

    .slick-prev {
        left: 5px;
    }

    .slick-next {
        right: 5px;
    }

    .ads__block {
        width: 100%;
        padding: 25px 15px;
        padding-bottom: 20px;
        line-height: 16px;
    }

    .ads__text {
        font-size: 14px;
    }

    .ads__text--size {
        font-size: 18px;
        line-height: 20px;
    }

    .news,
    .science,
    .recommendation,
    .reviews {
        position: relative;
        padding-bottom: 70px;
    }

    .news--padding {
        display: none;
    }

    .news-slider__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .text--size-big {
        font-size: 18px;
        line-height: 21px;
    }

    .news-slider__text {
        padding: 5px 10px;
    }

    .news__block .slick-next {
        right: -45px;
    }

    .news__item {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .news__item:nth-child(4n) {
        margin-right: auto;
    }



    .block--flex-row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 0;
    }

    .about-us {
        display: none;
    }

    .about-us__column {
        width: 100%;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 10px;
        padding-bottom: 0;
    }

    .about-us__text {
        font-size: 14px;
    }

    .about-us__video {
        width: 100%;
        min-height: 235px;
        height: 200px;
        margin-left: 7px;
        margin-bottom: 10px;
    }

    .about-us__column:last-of-type {
        position: relative;
        padding-bottom: 40px;
    }

    .about-us__text-block {
        padding-left: 15px;
        padding-right: 0;
        padding-bottom: 0;
        max-height: 65px;
        overflow: hidden;

        -webkit-transition: max-height 0.5s linear;

        -o-transition: max-height 0.5s linear;

        transition: max-height 0.5s linear;
    }

    .about-us__text-block.active {
        max-height: 1200px;
    }

    .about-us__link {
        position: absolute;
        bottom: 10px;

        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #16b598;
    }

    .about-us__link:hover {
        text-decoration: underline;
    }

    .about-us__link--close,
    .about-us__link--open{
        display: none;
    }

    .about-us__link--close.active,
    .about-us__link--open.active{
        display: block;
    }

    .science__item {
        margin: 10px auto;
        padding-left: 40px;
        padding-right: 40px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .science__item:nth-child(4n) {
        margin-right: auto;
    }

    .recommendation--flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .recommendation__text {
        padding-left: 10px;
        padding-top: 25px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    .recommendation {
        padding-bottom: 85px;
    }
    .recommendation__text p {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 16px;
    }

    .recommendation__slider .recommendation__control {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        min-height: 1px;
        top: 0;
        bottom:0;
        right: 0;
        left: 0;
        padding: 0;
        padding-left: 15px;

        -webkit-box-sizing: border-box;

        box-sizing: border-box;
    }

    .recommendation__slider .recommendation__prev,
    .recommendation__slider .recommendation__next {
        line-height: 0;
        font-size: 0;
    }

    .recommendation__prev::after, .recommendation__next::after {
        top: -21px;
    }

    .recommendation__next::after {
        right: 0;
    }

    .recommendation__prev::after {
        left: -10px;
    }

    .reviews .title--style,
    .title--style {
        width: 100%;
    }

    .reviews__item {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 15px;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
    }

    .reviews__item:nth-child(3n) {
        margin-right: auto;
    }

    .reviews__image {
        width: 40px;
        height: auto;
    }
    .reviews__name {
        padding-top: 0;
        padding-left: 0;
    }

    .reviews__date {
        padding-left: 0;
    }

    .block-mobile-slider {
        padding: 0;
    }

    .friends__item {
        margin-right: 10px;
        margin-left: 10px;
    }

    .friends__slider  .slick-prev {
        left: -40px;
    }

    .friends__slider  .slick-next {
        right: -40px;
    }

    .footer__advantage {
        display: none;
    }

    .footer__navigation {
        display: none;
    }

    .copyright {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 20px;

    }

    .copyright__us {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .copyright__us--text {
        padding-left: 0;
    }

    .bread-crumbs{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .bread-crumbs__item {
        margin-bottom: 15px;
    }

    .department__title {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .department__work {
        padding-bottom: 60px;
    }

    .slider-photo__list-for {
        display: none;
    }

    .chief__description {
        margin-bottom: 20px;
    }

    .content-page .white-block {
        padding: 20px;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .text-on-block {
        padding: 20px;
    }

    .content-page blockquote {
        margin-left: 20px;
    }

    .page-error .page-error__text {
        font-size: 30px;
    }
    /* news-list*/
    .news-all__link {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .news-all__wrapper-text {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .news-all__text {
        display: block;
    }

}
@media all and (max-width: 600px){
    .news__item {
        max-width: 470px;
    }

    .news__image {
        margin-bottom: 14px;
        width: 100%;
    }

    .news__block.slick-slider .slick-track {
        margin-left: 0;
    }

    /*news-list*/
    .news-all__list {

        margin-bottom: 30px;
    }
    /*end news-list*/
    /* pagination*/

    .pagination {
        margin-bottom: 20px;
    }

    .pagination__items:first-child .pagination__link,
    .pagination__items:last-child .pagination__link{
        padding-left: 15px;
        font-size: 0;
    }

    .pagination__items:first-child .pagination__link::after, .pagination__items:last-child .pagination__link::after {
        font-size: 20px;
    }

    .pagination__items {
        margin-left: 0;
    }
    .pagination .pagination__link {
        padding: 5px 10px;
    }
}

@media all and (max-width: 550px){
    .logo--flex {
        padding-left: 8px;
        padding-right: 9px;
        padding-top: 22px;
        padding-bottom: 20px;

        -webkit-box-sizing: border-box;

        box-sizing: border-box;
    }

    .logo-image {
        height: 62px;
        margin-right: 10px;
    }
    .header__title span:first-child {
        width: 235px;
    }

    .header__title--font-style {

    }
    .header__title {
        font-size: 12px;
        line-height: 11px;

    }
    .header__title--padding-right {
        padding-right: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .header__title--font-style {
        font-size: 14px;
        line-height: 14px;
        max-width: 300px;
    }

    .slider .slick-slide img {
        min-height: 250px;
    }

    .advantage {
        position: static;
        margin-top: 0;
        padding: 15px 5px;
        padding-top: 0;
    }


    .advantage__list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .advantage__item {
        width: 90%;
    }

    .advantage__link {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 10px;

    }

    .advantage__item:last-of-type {
        margin-bottom: 0;
    }

    .icon {
        margin: 0;
    }
    .advantage__text {
        margin-left: 10px;
    }

    .contacts {
        margin-bottom: 20px;
    }

    .department__work {
        padding: 30px 20px;
        padding-bottom: 60px;
    }

    .content-page .chief__number-text,
    .chief__tel-block {
        padding-left: 40px;
    }

    .content-page .chief__number-text::after {
        left: 5px;
    }
    .work__info {
        padding-right: 20px;
    }

    .chief__description {
        margin-bottom: 65px;
    }



}

@media all and (max-width: 480px) {
    .content-page li.list__item {
        padding-right: 10px;
    }

    .department__title .tittle__text {
        font-size: 22px;
        line-height: 24px;
    }

    .department__title--padding-bottom {
        padding-bottom: 20px;
    }

    .content-page .chief__name {
        margin-bottom: 180px;
    }

    .chief__description {
        margin-bottom: 30px;
    }
    .work__info {
        padding: 20px;
    }
    .content-page>.container,
    .department>.container {
        padding: 0;
    }

    .content-page .white-block {
        padding: 10px;
    }

    .text-on-block {
        padding: 10px;
    }

    .slider-photo__text {
        width: 100%;
    }
    /* news-list */
    .news-all__link {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .news-all__link .news-all__title {
        margin-bottom: 16px;
        font-size: 18px;
    }

    .content-page .news-detail__title {
        font-size: 20px;
    }
    /*end news-list*/

}


@media all and (max-width: 360px) {
    .container {
        padding: 0;
    }

    .logo--flex.container {
        padding: 10px 10px;
    }

    .logo__link {
        margin-right: 10px;
    }

    .nav__go-home {
        margin-left: 0
    }

    .mobile-nav-block {
        width: 85vw;
    }

    .burger-btn,
    .burger-btn.active {
        right: 10px;
    }

    .departments-laboratory__item,
    .content-page li.list__item {
        padding-left: 50px;
    }

    .departments-laboratory__item::before,
    .content-page .list__item::before {
        left: 10px;
    }

    .chief__photo {
        display: block;
        float: none;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .content-page .chief__name {
        margin-bottom: 10px;
        text-align: center;
    }

    .department__work {
        padding: 30px 10px;
        padding-bottom: 60px;
    }

    .work__info {
        padding: 10px;
    }
}