.leftbarsun {
	margin-left:12px;
	background: #EAF6E5 url(images/catal_fon.png) repeat-x;
	padding-bottom:15px;
	margin-bottom:12px;
	width:214px;
}
.main_bar_title {
	background:url(images/main_bar_title.jpg) repeat-y;
	width:214px;
	height:100%;
}
.bar_title {
	background:url(images/bar_title.jpg) no-repeat;
	width:214px;
	height:50px;
	text-align:center;
	vertical-align:middle;
	display:table-cell;
	color:#E5F6E5;
	text-shadow:#4C6E6E 1px 1px 1px;
	font-weight:bold;
	font-size:16px;
	padding-bottom:3px;
}
.bar_title div {
	display:inline-block;
}

ul.subcatal {
	padding:0;
	margin:15px 0 0 15px;;
	list-style:none;
	font-size:12px;
	line-height:14px;
}
ul.subcatal li {
	background:url(images/marker_cat.gif) 0 7px no-repeat;
	padding-left:15px;
	margin-bottom:7px;
	text-shadow:#FFF 1px 1px 1px;
}
ul.subcatal li.active a {
	color:#364C53;
	text-decoration:none;
	font-weight:bold;
	
}